<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <groups>
		  <run>
			  <include name="Failed"></include>
		  </run>
	  </groups>
    <classes>
      <class name="com.orgHrm.TestScripts.TestCases_3"/>
      <class name="com.orgHrm.TestScripts.TestCases_5"/>
      <class name="com.orgHrm.TestScripts.TestCases_6"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
